// Main colors
$background-grey: #f8f9fa;
$white: white;

// Formation colors
$uni-form-red: #8f0606;
$uni-form-red-hover: #e6bcbc;
$uni-form-red-active: #d48181;
$exi-form-blue: #1d47b3; //#1d83b3;
$exi-form-blue-hover: #b0c0eb; //#1d83b3;
$exi-form-blue-active: #6382d4; //#1d83b3;
$condi-form-salmon: #db7272;
$condi-form-salmon-hover: #f5d7d7; // #ebb5b5;
$condi-form-salmon-active: #ebb5b5;
$bicondi-form-gold: #91821d;
$bicondi-form-gold-hover: #ded283;
$bicondi-form-gold-active: #bdaf53;
$form-title: #363636; //#2e0804;
$form-title-underline: #363636; //#deaea9; // #b09390;

// Feature grouping color
$comp-fg-green: #5ead5a;
$comp-fg-bg-green: #f5faf5; //#e0f7df; //bg is background
$comp-fg-af-cross: #146110; // af -> add feature
$comp-fg-hover: #c5e3c5;
$comp-fg-active: #97c797;
$sel-fg-pink: #bf78a7;
$sel-fg-hover: #f0cce4;
$sel-fg-active: #e3b6d4;
$sel-fg-bg-pink: #fcf5fa; //#ffedf9;

// Construction colors
$con-border-grey: #e8e8e8;

// Term graph color
$tg-black: black;
$tg-hover: #dedede;
$tg-active: #8a8a8a;

// Negation colors
$negation-purple: #510659;
$negation-hover: #e7abed;
$negation-active: #c597c9;

// Rep box colors
$edit-blue: #3da7d9;
$edit-hover: #bbe0f2;
$edit-active: #81c4e6;

$inactive-save-green: #9dbf9d;

$save-green: #10a310;
$save-hover: #ddebdd;
$save-active: #86e386;

$cancel-grey: #969696;
$cancel-hover: #e3e3e3;
$cancel-active: #c9c9c9;

$commit-button-gold: #dbdad5; // #f0e7ad;
$commit-button-gold-hover: #ded283;
$commit-button-gold-active: #bdaf53;
$bicondi-form-gold-active: #bdaf53;

$danger: #dc3545;
$danger-hover: #f2cbcf;
$danger-active: #e3b6ba;

$lock-silver: #83858a;
$pencil-blue: #010191;

// Grays
$soapstone: #f8f9fa;
$softGray: #e6e6e6;
$semiSoftGray: #c2c2c2;
$lightGray: #949494;
$mediumGray: #6e6e6e;
$hardGray: #404040;
$black: #000;

// Ocean suite
$oceanFroth: #ebfaf8;
$oceanSurf: #bbede6;
$mediumOceanSurf: #31b09e;
$notDeepBlue: #a1d9ed;
$deepBlue: #32afdd;
$beneathTheWaves: #283f52;
