@import "src/global_styles/palette";
@import "src/global_styles/basic_visual";
@import "src/global_styles/basic_layout";

.loading-page-container {
    @extend %flexGrid5;
    height: 100vh;
}

.loader {
    background-color: $comp-fg-green;
}

.page-container {
    height: 100%;
    width: 100%;
}
