@import "src/global_styles/palette";
@import "src/global_styles/basic_visual";
@import "src/global_styles/basic_layout";
@import "../proof_block/proof_block";

.gh-container {
    @extend %proof-border;
    margin-bottom: 20px;
}

.gh-header {
}

.gh-title {
    font-size: 15pt;
}

.gh-content {
    @extend %flexRow;
    margin-bottom: 5px;
}

.gh-content-left {
    @extend %flexGrid1;
    font-size: 13pt;
}

.gh-content-right {
    @extend %flexRow;
    align-items: flex-end;
    line-height: 5px;
}

.gh-label {
    margin-right: 15px;
}

.gh-index {
    font-size: 14pt;
}

.proof-container {
    @extend %flexRow;
    flex: 1;
    margin-top: 30px;
}

.proof-bar {
    border-bottom: solid 1px $semiSoftGray;
}

.proof-text {
    font-size: 10pt;
    line-height: 5px;
    padding-top: 10px;
}

.show-button {
    @extend .proof-text;
    color: $edit-blue;
    cursor: pointer;
}

.hide-button {
    @extend .proof-text;
    @extend %smooth-transition;
    color: $edit-blue;
    cursor: pointer;
    opacity: 20%;
}

.hide-button:hover {
    opacity: 100%;
}

.gh-proof-title {
    @extend .proof-text;
    color: $lightGray;
    margin-right: 15px;
}

.gh-children-container {
}
