@import "src/global_styles/palette";
@import "src/global_styles/basic_visual";
@import "src/global_styles/basic_layout";
@import "../../../page_styles";

.gh-outer-container {
    @extend %flexRow;
}

.gh-left-cursor {
    margin-right: 6px;
    border-left: solid 1px $hardGray;
}

.gh-right-cursor {
    margin-left: 6px;
    border-left: solid 1px $hardGray;
}

.gh-container {
    @extend %proof-border;
    @extend %flexGrid1;
    margin: $form-vertical-margin 0;
}

.gh-header {
}

.gh-title-container {
    @extend %flexRow;
    align-items: flex-end;
}

.gh-title {
    @extend %jax-main;
    font-size: 15pt;
}

.gh-content {
    @extend %flexRow;
    margin-bottom: 5px;
}

.gh-content-left {
    @extend %flexGrid1;
    font-size: $tex-size;
}

.gh-content-right {
    @extend %flexRow;
    align-items: flex-end;
    //line-height: 5px;
}

.proof-container {
    @extend %flexRow;
    flex: 1;
    margin-top: 30px;
}

.proof-bar {
    border-bottom: solid 1px $semiSoftGray;
}

.proof-text {
    @extend %jax-main;
    font-size: 10pt;
    line-height: 5px;
    padding-top: 10px;
}

.gh-proof-title {
    @extend .proof-text;
    color: $lightGray;
    margin-right: 15px;
}

.gh-children-container {
}
