@import "./src/global_styles/basic_layout";
@import "./src/global_styles/basic_visual";
@import "./src/global_styles/palette";

$borderRadius: 10px;
$leftBorder: $softGray;

%shadow {
    //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4) !important;
    box-shadow: 0 1px 4px transparent !important;
}

.contain {
    margin: 20px 20px 100px;
}

.theorem-container {
}

.theorem-title {
    font-weight: bold;
    font-size: 15pt;
    color: $uni-form-red;
}

.theorem-math {
    @extend .flexGrid4;
    font-size: 15pt;
    margin: 10px 0;
}

.proof-container {

}

.proof-title {
    margin: 25px 0 0;
    font-weight: 600;
    color: $mediumGray;
    border-bottom: solid $softGray 1px;
}

.strategy-container {
    @extend %shadow;
    border-left: solid 1px $leftBorder;
    margin-top: 20px;
    padding: 10px 0 10px 20px;
    border-radius: $borderRadius;
}

.strategy-header {
    @extend .flexRow;
}

.header-left {
    @extend %flexGrid1;
}

.header-right {
    @extend %flexGrid3;
}

.hide-button {
    @extend %no-highlight;
    font-size: 8pt;
    color: $edit-blue;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
}

.strategy-title {
    font-weight: bold;
    color: $exi-form-blue;
    font-size: 11pt;
}

.strategy-content {
    font-size: 14pt;
    color: $hardGray;
    margin-bottom: 10px;
}

.goals-container {
    padding-left: 5px;
    border-left: solid 2px $comp-fg-green;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.goals-title {
    color: $comp-fg-af-cross;
    font-weight: bold;
    margin-bottom: 10px;
}

.goal-math {
    font-size: 15pt;
    margin-bottom: 10px;
}

.strategy-bar {
    border-bottom: solid 1px $softGray;
}

.strategy-children {
    //margin-left: 20px;
}

.prop-lambda-container {
    @extend %shadow;
    border-left: solid 1px $leftBorder;
    margin-top: 20px;
    padding: 10px 0 10px 20px;
    border-radius: $borderRadius;
}

.prop-lambda-goal {
    margin-bottom: 20px;
}

.prop-lambda-assumption {
    margin-bottom: 5px;
}

.prop-lambda-children {
    margin-left: 20px;
}

.lam-conclusion {
    font-size: 15pt;
    margin: 20px 0 10px;
}

.prop-container {
    @extend %flexRow;
    align-items: center;
}

.prop-math {
    font-size: 15pt;
}

.prop-index {
    @extend %flexGrid6;
    font-weight: 500;
    color: $mediumGray;
}

.prop-lambda-type {

}

.two-column-container {
    @extend %flexRow;
    align-items: center;
}

.two-column-left {
    @extend %flexRow;
    flex: 1;
    align-items: center;
}

.two-left-left {
    @extend %flexGrid4;
    font-size: 15pt;
    border-right: solid 1px $softGray;
    padding: 15px 0;
}

.two-left-right {
    @extend %flexGrid4;
    margin-left: 20px;
    color: $hardGray;
}

.two-column-right {
    @extend %grid6;
    font-weight: 500;
    color: $mediumGray;
    width: 50px;
}



